@using Survey.Application.Services.Survey.Queries;
@using  Survey.Web.Utility;
@model IEnumerable<GetSurveysDto>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card {
        margin-bottom: 10px;
    }

    .card-text {
        text-align: left;
        margin-bottom: 0;
    }
</style>
<div class="text-center">
    <h3 class="display-4">Welcome to Survey</h3>
    <p>Learn more about <a href="https://github.com/sm-mahdizadeh/survey">Survey</a>.</p>
    <hr />
    <div class="row">
        @foreach (var survey in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@survey.Title</h5>
                        @*<h6 class="card-subtitle mb-2 text-muted">@survey.Description</h6>*@
                        <p class="card-text">Owner User: @survey.UserFullName</p>
                        <p class="card-text">Create Date: @survey.CreateDate.ToShortDateString()</p>
                        <p class="card-text">Questions Count: @(survey.QuestionsCount)</p>
                        @if (User.Identity.GetId() == survey.UserId)
                        {
                            <a href="/survey/edit/@(survey.Id)" class="btn btn-outline-primary btn-block">Edit</a>}
                        else
                        {
                        <a href="/survey/Respond/@(survey.Id)" class="btn btn-outline-success btn-block">Respond</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
